{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.reader {:mvn/version "1.3.5"}}

 :aliases {;;
           ;; Clojure versions we support
           ;;
           :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
           :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

           ;;
           ;; ClojureScript version we test with (and support)
           ;;
           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.773"}}}

           ;;
           ;; Test support
           ;;

           ;; linting
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.03.03"}}
                       :main-opts ["-m" "clj-kondo.main"]}

           :test-common {:extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}
                         :extra-paths ["test"]}

           ;; document block testing
           :test-doc-blocks {:replace-deps {lread/test-doc-blocks {:mvn/version "1.0.85-alpha"}
                                            ;; TODO: once we promote rewrite-clj to v1 in test-doc-blocks this weirdness will not be necessary
                                            rewrite-clj/rewrite-clj {:git/url "https://github.com/clj-commons/rewrite-clj.git"
                                                                     :sha "f44662cb78e10bcbcb6ae345e89cafd51bfef255"}}
                             :replace-paths []
                             :ns-default lread.test-doc-blocks
                             :exec-args {:docs ["doc/01-user-guide.adoc"
                                                "doc/design/01-merging-rewrite-clj-and-rewrite-cljs.adoc"
                                                "doc/design/namespaced-elements.adoc"]}}

           :test-docs {:extra-paths ["target/test-doc-blocks/test"]}

           ;; kaocha for clojure testing
           :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}
                                 lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                                 lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}
                    :main-opts ["-m" "kaocha.runner"]}

           ;; figwheel for clojurescript testing during dev
           :fig-test {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.12"}}
                      :extra-paths ["target" "test"]
                      :main-opts ["-m" "figwheel.main" "-b" "fig" "-r"]}

           :cljs-test {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                       :extra-paths ["test"]
                       :main-opts ["-m" "cljs-test-runner.main"]}

           ;; planck for Self-Hosted ClojureScript
           :planck-test {:extra-paths ["target/cljsbuild/test/planck-none/gen"]}

           ;;
           ;; General script deps
           ;;
           :script {:extra-paths ["script"]
                    :extra-deps {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                                 cli-matic/cli-matic {:mvn/version "0.4.3"}}}

           :apply-import-vars {:extra-deps {metosin/malli {:mvn/version "0.3.0"}
                                            io.aviso/pretty {:mvn/version "0.1.36"}}
                               :ns-default lread.apply-import-vars}

           ;;
           ;; Running tests under Graal
           ;;
           ;; We have two main Graal scenarios:
           ;; sci-test - interpret tests via sci over natively compiled rewrite-clj
           ;; native-test - natively compile src and tests and run

           :sci-test {:extra-paths ["target/generated/sci-test/src"]
                      :extra-deps {lread/sci-test {:git/url "https://github.com/lread/sci-test.git"
                                                   :sha "dac1979c96c51a6bb53108b65c8270d8f30c67fa"}}}

           :native-test {:extra-paths ["target/generated/graal"]}

           ;; usage -A:sci-test:gen-reflection
           :gen-reflection {:main-opts ["-m" "sci-test.generate-reflection-file"]}

           ;;
           ;; Document rewrite-clj* differences
           ;;
           :diff-apis {:extra-paths ["script/resources"]
                       :extra-deps {lread/diff-apis {:git/url "https://github.com/lread/diff-apis"
                                                     :sha "cd8096e0b5e0c0ea4850cb9eafe2d085d8912442"}}
                       :main-opts ["-m" "diff-apis.main" "projects"]}

           ;;
           ;; Deployment
           ;; 
           :jar {:replace-deps {seancorfield/depstar {:mvn/version "2.0.193"}}
                 :exec-fn hf.depstar/jar
                 :exec-args {:jar "target/test-doc-blocks.jar"
                             :jar-type :thin}}

           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                    :exec-fn deps-deploy.deps-deploy/deploy}

           ;; usage: :deploy:remote - for Clojars
           :remote {:exec-args {:installer :remote
                                :artifact "target/test-doc-blocks.jar"}}

           ;; usage: :deploy:local - for local maven repo
           :local {:exec-args {:installer :local
                               :artifact "target/test-doc-blocks.jar"}}

           ;;
           ;; Maintenance support
           ;;
           :outdated {:extra-deps {antq/antq {:mvn/version "0.11.2"}
                                   org.slf4j/slf4j-simple {:mvn/version "1.7.30"} ;; to rid ourselves of logger warnings
                                   }
                      :main-opts ["-m" "antq.core"]}

           ;;
           ;; 3rd party lib testing support
           ;;

           :deps-patcher {:extra-paths ["script"]
                          :ns-default lread.deps-patcher}}}

