{:config-paths ^:replace ["lread/status-line"]
 :lint-as
 { clojure.test.check.clojure-test/defspec clojure.core/def
  clojure.test.check.properties/for-all clojure.core/let
  rewrite-clj.zip/subedit-> clojure.core/->
  rewrite-clj.zip.subedit/subedit-> clojure.core/->
  rewrite-clj.zip/subedit->> clojure.core/->>
  rewrite-clj.zip.subedit/subedit->> clojure.core/->>
  rewrite-clj.zip/edit-> clojure.core/->
  rewrite-clj.zip.subedit/edit-> clojure.core/->
  rewrite-clj.zip/edit->> clojure.core/->>
  rewrite-clj.zip.subedit/edit->> clojure.core/->>
  rewrite-clj.custom-zipper.switchable/defn-switchable clojure.core/defn}
 :linters
 {:redundant-fn-wrapper {:level :warning} ;; experimental linter, let's give it a go
  :unsorted-required-namespaces {:level :warning}
  :unresolved-var {:exclude [io.aviso.ansi]}
  :unused-namespace
  {:exclude [clojure.test.check]}
  :unused-referred-var
  {:exclude {clojure.test.check [quick-check]}}
  :deprecated-var
  {:exclude {rewrite-clj.zip.base/->string
             {:namespaces [rewrite-clj.zip]}
             rewrite-clj.zip.base/->root-string
             {:namespaces [rewrite-clj.zip]}
             rewrite-clj.zip.base/value
             {:namespaces [rewrite-clj.zip]}
             rewrite-clj.zip/->root-string
             {:namespaces [rewrite-clj.regression-test]}
             rewrite-clj.zip/->string
             {:namespaces [rewrite-clj.regression-test]}

             rewrite-clj.zip/append-space
             {:namespaces [rewrite-clj.zip.whitespace-test]}
             rewrite-clj.zip.whitespace/append-space
             {:namespaces [rewrite-clj.zip]}

             rewrite-clj.zip/prepend-space
             {:namespaces [rewrite-clj.zip.whitespace-test]}
             rewrite-clj.zip.whitespace/prepend-space
             {:namespaces [rewrite-clj.zip]}

             rewrite-clj.zip/append-newline
             {:namespaces  [rewrite-clj.zip.whitespace-test]}
             rewrite-clj.zip.whitespace/append-newline
             {:namespaces  [rewrite-clj.zip]}

             rewrite-clj.zip/prepend-newline
             {:namespaces [rewrite-clj.zip.whitespace-test]}
             rewrite-clj.zip.whitespace/prepend-newline
             {:namespaces [rewrite-clj.zip]}

             rewrite-clj.node.protocols/value
             {:namespaces [rewrite-clj.node rewrite-clj.zip.base]}
             rewrite-clj.node/value
             {:defs [rewrite-clj.zip.base/value]}}}}}
