{:cljdoc.doc/tree
 [["Readme" {:file "README.adoc"}]
  ["Changelog" {:file "CHANGELOG.adoc"}]
  ["User Guide" {:file "doc/01-user-guide.adoc"}]
  ["Developer Guide" {:file "doc/02-developer-guide.adoc"}]
  ["Design" {}
   ["Merging rewrite-clj and rewrite-cljs" {:file "doc/design/01-merging-rewrite-clj-and-rewrite-cljs.adoc"}
    ["Namespaced Elements" {:file "doc/design/namespaced-elements.adoc"}]]]
  ["Frequently Asked Questions" {:file "doc/03-faq.adoc"}]
  ["Contributing" {:file "CONTRIBUTING.md"}]
  ["Code of Conduct" {:file "CODE_OF_CONDUCT.md"}]
  ["Maintainer Guide" {:file "doc/04-maintainer-guide.adoc"}]]}
