;; inputs for contributors section of README.adoc
{:contributors
 [{:github-id "sogaiu"
   :contributions [:code-rewrite-clj-v1 :encouragement :education]}
  {:github-id "slipset"
   :contributions [:code-rewrite-cljs :encouragement :infrastructure]}
  {:github-id "danielcompton"
   :contributions [:code-rewrite-cljs :encouragement]}
  {:github-id "martinklepsch"
   :contributions [:encouragement]}
  {:github-id "swannodette"
   :contributions [:education]}
  {:github-id "PEZ"
   :contributions [:code-rewrite-cljs :encouragement]}
  {:github-id "eraserhd"
   :contributions [:code-rewrite-clj-v0 :doc :design :issue]}
  {:github-id "arrdem"
   :contributions [:code-rewrite-clj-v0]}
  {:github-id "stathissideris"
   :contributions [:code-rewrite-clj-v0]}
  {:github-id "plexus"
   :contributions [:code-rewrite-clj-v0 :education :issue]}
  {:github-id "jespera"
   :contributions [:code-rewrite-clj-v0 :issue]}
  {:github-id "brian-dawn"
   :contributions [:code-rewrite-clj-v0]}
  {:github-id "bbatsov"
   :contributions [:doc :issue]}
  {:github-id "AndreaCrotti"
   :contributions [:doc]}
  {:github-id "mhuebert"
   :contributions [:code-rewrite-cljs]}
  {:github-id "kkinnear"
   :contributions [:code-rewrite-cljs :encouragement :issue]}
  {:github-id "anmonteiro"
   :contributions [:code-rewrite-cljs]}
  {:github-id "green-coder"
   :contributions [:code-rewrite-clj-v1]}
  {:github-id "vemv"
   :contributions [:code-rewrite-clj-v1 :encouragement :education :issue]}
  {:github-id "ericdallo"
   :contributions [:encouragement :issue]}
  {:github-id "rgkirch"
   :contributions [:doc]}
  {:github-id "mainej"
   :contributions [:code-rewrite-clj-v1 :design :issue]}
  {:github-id "rfhayashi"
   :contributions [:doc]}
  {:github-id "FiV0"
   :contributions [:issue :doc]}
  {:github-id "mjayprateek"
   :contributions [:issue]}
  {:github-id "guoyongxin"
   :contributions [:issue]}
  {:github-id "drorbemet"
   :contributions [:issue]}
  {:github-id "theronic"
   :contributions [:issue]}
  {:github-id "doby162"
   :contributions [:issue]}
  {:github-id "awb99"
   :contributions [:issue]}
  {:github-id "snoe"
   :contributions [:issue :support]}
  {:github-id "fazzone"
   :contributions [:issue]}
  {:github-id "immoh"
   :contributions [:issue]}
  {:github-id "matanox"
   :contributions [:issue]}
  {:github-id "SevereOverfl0w"
   :contributions [:issue]}
  {:github-id "mynomoto"
   :contributions [:issue]}
  {:github-id "weavejester"
   :contributions [:issue]}
  {:github-id "mikekap"
   :contributions [:issue]}
  {:github-id "shmish111"
   :contributions [:issue]}
  {:github-id "expez"
   :contributions [:issue]}
  {:github-id "RickMoynihan"
   :contributions [:issue]}
  {:github-id "zcaudate"
   :contributions [:issue]}
  {:github-id "luxbock"
   :contributions [:issue]}
  {:github-id "msgodf"
   :contributions [:issue]}
  {:github-id "shaunlebron"
   :contributions [:issue]}
  {:github-id "shaunxcode"
   :contributions [:issue]}
  {:github-id "optevo"
   :contributions [:issue]}
  {:github-id "ivarref"
   :contributions [:issue]}
  {:github-id "NoahTheDuke"
   :contributions [:issue :encouragement]}
  {:github-id "ferdinand-beyer"
   :contributions [:code-rewrite-clj-v1]}
  {:github-id "ikappaki"
   :contributions [:issue]}
  {:github-id "bobbicodes"
   :contributions [:doc]}
  {:github-id "p4ulcristian"
   :contributions [:issue]}
  {:github-id "mrkam2"
   :contributions [:issue]}
  {:github-id "frenchy64"
   :contributions [:code-rewrite-clj-v1 :doc :issue]}
  {:github-id "conao3"
   :contributions [:doc]}
  {:github-id "onbreath"
   :contributions [:code-rewrite-clj-v1 :doc]}]
 :founders
 [{:github-id "xsc"
   :contributions [:original-author :doc :design :issue :review :support :code-rewrite-clj-v0]}
  {:github-id "rundis"
   :contributions [:original-author :doc :design :issue :review :support :code-rewrite-cljs]}]
 :maintainers
 [{:github-id "borkdude"
   :contributions [:code-rewrite-clj-v1 :doc :design :review :issue :support :encouragement :education]}
  {:github-id "lread"
   :contributions [:code-rewrite-clj-v1 :doc :design :review :issue :support]}]}
