name: Code Coverage

on:
  push:
    branches:
    - main

jobs:
  code-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./github/workflows/shared-setup

      - name: Run Tests with Code Coverage
        run: bb test-coverage

      - name: Upload Code Coverage Results
        run: |
          echo "Downloading codecov uploader script"
          curl -s https://codecov.io/bash > codecov
          echo "Verifying codedov uploader script"
          VERSION=$(grep 'VERSION=\".*\"' codecov | cut -d'"' -f2);
          for i in 1 256 512
          do
            sha${i}sum -c --ignore-missing <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM")
          done
          echo "Uploading to codecov"
          bash codecov -f target/coverage/codecov.json
