name: Libs Test

on:
  # allow this workflow to be called from other workflows, namely: publish
  workflow_call:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  enumerate-libs:
    runs-on: ubuntu-latest

    outputs:
      libs: ${{ steps.set-libs.outputs.libs }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/shared-setup

      - id: set-libs
        name: Set libs var for matrix
        ## call bb script directly instead of as task to avoid task status output
        run: echo "libs=$(bb script/test_libs.clj list --format=json)" >> $GITHUB_OUTPUT

  libs-test:
    needs: enumerate-libs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.enumerate-libs.outputs.libs) }}

    name: ${{ matrix.lib-name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/workflows/shared-setup
        with:
          jdk: ${{ matrix.jdk }}
          clj-cache-prefix: clj-libs-deps-${{ matrix.lib-name }}
          clj-cache-hash-files: "'script/test_libs.clj','deps.edn','bb.edn'"

      - name: Install Lein
        uses: DeLaGuardo/setup-clojure@13.5
        with:
          lein: 2.12.0

      - name: Install Planck
        uses: ./.github/workflows/setup-planck
        if: contains( matrix.requires, 'planck' )

      # The runner image comes with a later version gradle that does not work with antq unit tests yet
      - name: Install Gradle for antq
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.14.3'
        if: matrix.lib-name == 'antq'

      - name: Run Libs Tests
        run: bb test-libs run ${{ matrix.lib-name }}
