name: Libs Test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  enumerate-libs:
    runs-on: ubuntu-latest

    outputs:
      libs: ${{ steps.set-libs.outputs.libs }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./github/workflows/shared-setup
        with:
          clj-cache-prefix: clj-libs-deps
          clj-cache-hash-files: "['script/test_libs.clj','deps.edn','bb.edn']"

      - id: set-libs
        name: Set libs var for matrix
        ## call bb script directly instead of as task to avoid task status output
        run: echo "libs=$(bb script/test_libs.clj list --format=json)" >> $GITHUB_OUTPUT

  libs-test:
    needs: enumerate-libs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        lib: ${{ fromJSON(needs.enumerate-libs.outputs.libs) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./github/workflows/shared-setup
        with:
          clj-cache-prefix: clj-libs-deps
          clj-cache-hash-files: "['script/test_libs.clj','deps.edn','bb.edn']"

      - name: Install planck
        uses: ./github/workflows/setup-planck

      - name: Run Libs Tests
        run: bb test-libs run ${{ matrix.lib }}
