name: Native Image Tests

on:
  # allow this workflow to be called from other workflows, namely: publish
  workflow_call:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ windows, ubuntu, macos ]
        java-version: [ '25.0.1' ]
        test: [ native, native-sci ]
        clojure-version: [ '1.12' ]

    name: ${{ matrix.os }},jdk${{ matrix.java-version }},${{ matrix.test }},clj${{ matrix.clojure-version }}

    steps:
      #
      # Tell git not to convert newlines on checkout for Windows
      #
      - name: Prepare git (Windows)
        run: git config --global core.autocrlf false
        if: matrix.os == 'windows'

      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Setup
        uses: ./.github/workflows/shared-setup
        with:
          jdk: skip

      - name: Install GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      #
      # native image tests
      #
      - name: Execute test-${{ matrix.test }}
        run: bb test-${{ matrix.test }} --clojure-version ${{ matrix.clojure-version }}
